extends layout

block content
	h1 Login
	div
		if messages
			each val in messages
				div= val			
			
		form(action='/user/login', method='POST')
			input(type='text', name='username')
			input(type='password', name='password')
			input(type='submit', value='Login')